{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "integrations@getaccept.com",
      "name": "GetAccept API Team",
      "url": "https://app.getaccept.com/api"
    },
    "description": "GetAccept provides a sales enablement platform for sales to design, send, promote, track, and e-sign sales documents, leveraging sales collateral, contract management, proposals, and electronic signatures in one place.",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService": "https://www.getaccept.com/terms.html",
    "title": "GetAccept",
    "version": "1.6"
  },
  "servers": [
    {
      "description": "Production endpoint",
      "url": "https://api.getaccept.com/v1"
    }
  ],
  "paths": {
    "/attachments": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attachments"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "tags": [
          "Attachments"
        ],
        "description": "Receive a list of available attachments. You can add new attachments in GetAccept using a new document.",
        "operationId": "ListAttachments",
        "summary": "List attachments"
      }
    },
    "/auth": {
      "post": {
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "access_token": {
                      "description": "Token to be used in consequtive requests using bearer header",
                      "type": "string"
                    },
                    "expires_in": {
                      "description": "Seconds until the access token expires",
                      "format": "int64",
                      "minimum": 0,
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          }
        },
        "security": [],
        "tags": [
          "Authentication"
        ],
        "description": "Token based authentication is recommended for server-based access or access from clients where OAuth is not suitable. Access tokens has to be requested using an administrators login credentials.\nRequests should include the header Content-Type with value application/json",
        "operationId": "Authenticate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Authentication model",
                "properties": {
                  "client_id": {
                    "default": "",
                    "description": "The client id of your app if you received one from our API team",
                    "type": "string"
                  },
                  "email": {
                    "description": "This is the email of the user in GetAccept",
                    "format": "email",
                    "type": "string"
                  },
                  "entity_id": {
                    "default": "",
                    "description": "This specifies what entity to select if multiple entities are available for a user. If no value is specified the default entity will be selected.",
                    "type": "string"
                  },
                  "password": {
                    "description": "This is the password of the user in GetAccept",
                    "format": "password",
                    "type": "string"
                  }
                },
                "required": [
                  "email",
                  "password"
                ],
                "type": "object",
                "x-examples": {
                  "Example": {
                    "email": "user@example.com",
                    "password": "mysecret"
                  }
                }
              }
            }
          },
          "description": "A JSON object containing authentication credentials",
          "required": true
        },
        "summary": "Authentication by token",
        "x-ms-visibility": "internal"
      }
    },
    "/communication-templates": {
      "get": {
        "parameters": [
          {
            "description": "Start list from record x",
            "in": "query",
            "name": "offset",
            "schema": {
              "default": 0,
              "type": "integer"
            }
          },
          {
            "description": "Number of records to list",
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 20,
              "type": "integer"
            }
          },
          {
            "description": "Filter list on status",
            "in": "query",
            "name": "statuses",
            "schema": {
              "enum": [
                "published",
                "draft"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "communication_templates": {
                      "items": {
                        "$ref": "#/components/schemas/CommunicationTemplate"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "tags": [
          "Communication Templates"
        ],
        "description": "Receive a list of available communication templates.",
        "operationId": "GetCommunicationTemplates",
        "summary": "Get communication templates"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunicationTemplate"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "tags": [
          "Communication Templates"
        ],
        "description": "Create a communication template.",
        "operationId": "CreateCommunicationTemplate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "tags": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "conversation_sendout_template": {
                    "type": "object"
                  },
                  "email_sendout_reminder_template": {
                    "type": "object"
                  },
                  "email_sendout_template": {
                    "type": "object"
                  },
                  "language": {
                    "description": "One language code in ISO 639 form",
                    "type": "string"
                  },
                  "name": {
                    "description": "Communication template name",
                    "type": "string"
                  },
                  "signed_sendout_template": {
                    "type": "object"
                  },
                  "status": {
                    "enum": [
                      "published",
                      "draft"
                    ],
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "language"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Create communication template"
      }
    },
    "/communication-templates/{communicationTemplateId}": {
      "get": {
        "parameters": [
          {
            "description": "Communication Template ID",
            "in": "path",
            "name": "communicationTemplateId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunicationTemplate"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Communication Templates"
        ],
        "description": "Receive a specific communication template.",
        "operationId": "GetCommunicationTemplate",
        "summary": "Get communication template"
      },
      "put": {
        "parameters": [
          {
            "description": "Communication Template ID",
            "in": "path",
            "name": "communicationTemplateId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Communication Templates"
        ],
        "description": "Updates a specific communication template.",
        "operationId": "UpdateCommunicationTemplate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "tags": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "conversation_sendout_template": {
                    "type": "object"
                  },
                  "email_sendout_reminder_template": {
                    "type": "object"
                  },
                  "email_sendout_template": {
                    "type": "object"
                  },
                  "language": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "signed_sendout_template": {
                    "type": "object"
                  },
                  "status": {
                    "enum": [
                      "published",
                      "draft"
                    ],
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Update communication template"
      }
    },
    "/contacts": {
      "get": {
        "parameters": [
          {
            "description": "Filter list on status",
            "in": "query",
            "name": "filter",
            "schema": {
              "enum": [
                "active",
                "inactive",
                "signed"
              ],
              "type": "string"
            }
          },
          {
            "description": "How to sort results",
            "in": "query",
            "name": "sort_by",
            "schema": {
              "enum": [
                "name",
                "email",
                "company_name",
                "document_count",
                "created"
              ],
              "type": "string"
            }
          },
          {
            "description": "Sort order of results",
            "in": "query",
            "name": "sort_order",
            "schema": {
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string"
            }
          },
          {
            "description": "Include documents from team members",
            "in": "query",
            "name": "showteam",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Include all contacts from entity",
            "in": "query",
            "name": "showall",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Start list from record x",
            "in": "query",
            "name": "offset",
            "schema": {
              "default": 0,
              "type": "integer"
            }
          },
          {
            "description": "Number of records to list",
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 100,
              "type": "integer"
            }
          },
          {
            "description": "Search string to match first_name, last_name or email",
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contacts"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "Receive a list of available contact for the current entity.\nAll contacts added as a recipient are saved as a contact and is available for later use on that entity.",
        "operationId": "ListContacts",
        "summary": "List contacts"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "contact_id": {
                      "description": "ID of the created contact",
                      "example": "abc58129f",
                      "type": "string",
                      "x-ms-summary": "Contact ID"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "This will create a new contact in the database for the current entity",
        "operationId": "CreateContact",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "company_name": "Doe Inc.",
                    "company_number": "5678901",
                    "email": "jane@doe.com",
                    "first_name": "Jane",
                    "last_name": "Doe",
                    "mobile": "+12345678901",
                    "note": "Just a random contact",
                    "phone": "+46401234567",
                    "title": "CEO"
                  }
                }
              },
              "schema": {
                "properties": {
                  "company_name": {
                    "description": "Associated company name",
                    "type": "string",
                    "x-ms-summary": "Company Name"
                  },
                  "company_number": {
                    "description": "Associated company number",
                    "type": "string",
                    "x-ms-summary": "Company Number"
                  },
                  "email": {
                    "description": "Email address of the contact",
                    "type": "string",
                    "x-ms-summary": "Email"
                  },
                  "first_name": {
                    "description": "First name of the contact",
                    "type": "string",
                    "x-ms-summary": "First name"
                  },
                  "fullname": {
                    "description": "Use to specify full name instead of first/last name",
                    "type": "string",
                    "x-ms-summary": "Full name"
                  },
                  "last_name": {
                    "description": "Last name of the contact",
                    "type": "string",
                    "x-ms-summary": "Last name"
                  },
                  "mobile": {
                    "description": "Mobile number in international format",
                    "type": "string",
                    "x-ms-summary": "Mobile"
                  },
                  "note": {
                    "description": "Optional internal note for contact",
                    "type": "string",
                    "x-ms-summary": "Note"
                  },
                  "phone": {
                    "description": "Phone number in international format",
                    "type": "string",
                    "x-ms-summary": "Phone"
                  },
                  "title": {
                    "description": "The title of the contact, ex. CEO, Sales manager",
                    "type": "string",
                    "x-ms-summary": "Title"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "A JSON object containing contact information",
          "required": true
        },
        "summary": "Create contact",
        "x-ms-visibility": "important"
      }
    },
    "/contacts/{contactId}": {
      "delete": {
        "parameters": [
          {
            "description": "Contact ID",
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "Delete a contact. Contacts who are connected to active or signed documents cannot be deleted.",
        "operationId": "DeleteContact",
        "summary": "Delete contact"
      }
    },
    "/custom-data/entity": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityCustomData"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "tags": [
          "Custom Data"
        ],
        "description": "Get the custom data settings for the current entity.",
        "operationId": "GetEntityCustomData",
        "summary": "Get entity custom data properties"
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "tags": [
          "Custom Data"
        ],
        "description": "Add a new custom data property to the current entity.",
        "operationId": "AddEntityCustomDataProperty",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "key": {
                    "description": "Unique key for the custom data property",
                    "type": "string"
                  },
                  "label": {
                    "description": "Human-readable label",
                    "type": "string"
                  },
                  "value_type": {
                    "description": "Type of value: string, number, boolean",
                    "enum": [
                      "string",
                      "number",
                      "boolean"
                    ],
                    "type": "string"
                  }
                },
                "required": [
                  "key",
                  "value_type",
                  "label"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Add entity custom data property"
      }
    },
    "/custom-data/entity/{propertyKey}": {
      "delete": {
        "parameters": [
          {
            "description": "Property Key",
            "in": "path",
            "name": "propertyKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Custom Data"
        ],
        "description": "Delete a custom data property from the current entity.",
        "operationId": "DeleteEntityCustomDataProperty",
        "summary": "Delete entity custom data property"
      }
    },
    "/documents": {
      "get": {
        "parameters": [
          {
            "description": "Filter list on status",
            "explode": false,
            "in": "query",
            "name": "filter",
            "schema": {
              "enum": [
                "draft",
                "sent",
                "viewed",
                "reviewed",
                "signed",
                "rejected",
                "recalled"
              ],
              "example": "signed",
              "type": "string"
            },
            "x-ms-summary": "Filter list on status"
          },
          {
            "description": "How to sort results",
            "in": "query",
            "name": "sort_by",
            "schema": {
              "enum": [
                "name",
                "value",
                "created",
                "recipient",
                "status",
                "owner"
              ],
              "example": "created",
              "type": "string"
            },
            "x-ms-summary": "How to sort results"
          },
          {
            "description": "Sort order of results",
            "in": "query",
            "name": "sort_order",
            "schema": {
              "enum": [
                "asc",
                "desc"
              ],
              "example": "desc",
              "type": "string"
            },
            "x-ms-summary": "Sort order of results"
          },
          {
            "description": "Include documents from team members",
            "in": "query",
            "name": "showteam",
            "schema": {
              "enum": [
                true,
                false
              ],
              "example": true,
              "type": "boolean"
            },
            "x-ms-summary": "Include documents from team members"
          },
          {
            "description": "Include all documents from entity",
            "in": "query",
            "name": "showall",
            "schema": {
              "enum": [
                true,
                false
              ],
              "example": true,
              "type": "boolean"
            },
            "x-ms-summary": "Include all documents from entity"
          },
          {
            "description": "An external ID is a custom field which can contain a unique record identifier from a system outside of GetAccept",
            "in": "query",
            "name": "external_id",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "External ID"
          },
          {
            "description": "Start list from record x until limit",
            "in": "query",
            "name": "offset",
            "schema": {
              "example": 50,
              "type": "number"
            },
            "x-ms-summary": "Offset"
          },
          {
            "description": "Number of records to list",
            "in": "query",
            "name": "limit",
            "schema": {
              "example": 100,
              "type": "number"
            },
            "x-ms-summary": "Limit"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Documents"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "tags": [
          "Documents"
        ],
        "description": "Get a list of available documents",
        "operationId": "ListDocuments",
        "summary": "List documents"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "tags": [
          "Documents"
        ],
        "description": "You must create a document to be able to send it to a recipient. When creating a document you can refer to previously uploaded files with file_id or you can choose to create a document and upload the files in on API post. You can only upload ONE file when including a file in the create document POST.\n\nUse either file_ids parameter to use existing uploaded file(s), file_content to send the document as base64 encoded string or do a multipart post with file parameter.\n\nAll recipients must have either a valid e-mail or a mobile number.\n\nAll events are recorded using requestor IP address. You can override this using header CLIENT_IP containing the end-users public IP address.",
        "operationId": "CreateDocument",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "attachments": {
                    "description": "Attachments",
                    "items": {
                      "properties": {
                        "id": {
                          "description": "Attachment ID received from list or after upload",
                          "type": "string",
                          "x-ms-dynamic-values": {
                            "operationId": "ListAttachments",
                            "value-collection": "attachments",
                            "value-path": "attachment_id",
                            "value-title": "attachment_title"
                          },
                          "x-ms-summary": "ID"
                        },
                        "require_view": {
                          "description": "Require that recipient view the attachment",
                          "enum": [
                            true,
                            false
                          ],
                          "example": true,
                          "nullable": true,
                          "type": "boolean",
                          "x-ms-summary": "Require view"
                        },
                        "type": {
                          "description": "file or external where file is an uploaded file and external is a link to an external file",
                          "enum": [
                            "file",
                            "external"
                          ],
                          "type": "string",
                          "x-ms-summary": "Type"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array",
                    "x-ms-summary": "Attachment"
                  },
                  "custom_data": {
                    "description": "A list of custom data to include with the document. If the property is already defined on the template, it will be overridden by the value provided here.",
                    "properties": {
                      "properties": {
                        "description": "An array of objects containing custom data properties",
                        "items": {
                          "properties": {
                            "key": {
                              "description": "Key of the custom data property",
                              "type": "string",
                              "x-ms-summary": "Key"
                            },
                            "label": {
                              "description": "Label of the custom data property",
                              "type": "string",
                              "x-ms-summary": "Label"
                            },
                            "value": {
                              "description": "Value of the custom data property",
                              "type": "string",
                              "x-ms-summary": "Value"
                            },
                            "value_type": {
                              "description": "Type of the value: string, number, boolean",
                              "enum": [
                                "string",
                                "number",
                                "boolean"
                              ],
                              "type": "string",
                              "x-ms-summary": "Value Type"
                            }
                          },
                          "type": "object"
                        },
                        "type": "array",
                        "x-ms-summary": "Properties"
                      }
                    },
                    "type": "object",
                    "x-ms-summary": "Custom Data",
                    "x-ms-visibility": "advanced"
                  },
                  "custom_fields": {
                    "description": "Custom field",
                    "items": {
                      "properties": {
                        "id": {
                          "description": "ID of custom template field",
                          "type": "string",
                          "x-ms-summary": "Field ID"
                        },
                        "name": {
                          "description": "Name of custom template field",
                          "type": "string",
                          "x-ms-summary": "Field Name"
                        },
                        "value": {
                          "description": "Value of custom template field",
                          "type": "string",
                          "x-ms-summary": "Field Value"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array",
                    "x-ms-summary": "Custom"
                  },
                  "custom_pricing_tables": {
                    "description": "Pricing",
                    "items": {
                      "properties": {
                        "currency_settings": {
                          "description": "Currency Settings",
                          "properties": {
                            "currency": {
                              "description": "Currency, ex. SEK",
                              "type": "string",
                              "x-ms-summary": "Currency"
                            },
                            "locale": {
                              "description": "Locale, ex. sv-SE",
                              "type": "string",
                              "x-ms-summary": "Locale"
                            }
                          },
                          "type": "object",
                          "x-ms-summary": "Currency Settings",
                          "x-ms-visibility": "advanced"
                        },
                        "display_name": {
                          "description": "Display name of the pricing table",
                          "type": "string",
                          "x-ms-summary": "Display Name",
                          "x-ms-visibility": "advanced"
                        },
                        "external_id": {
                          "description": "External ID to represent the summary object within a third-party system",
                          "type": "string",
                          "x-ms-summary": "External ID",
                          "x-ms-visibility": "advanced"
                        },
                        "id": {
                          "description": "Table ID",
                          "type": "string",
                          "x-ms-summary": "Table ID",
                          "x-ms-visibility": "advanced"
                        },
                        "pre_calculated": {
                          "default": false,
                          "description": "If pricing table totals should be pre-calculated",
                          "enum": [
                            true,
                            false
                          ],
                          "example": true,
                          "type": "boolean",
                          "x-ms-summary": "Precalculated totals",
                          "x-ms-visibility": "advanced"
                        },
                        "sections": {
                          "description": "Sections",
                          "items": {
                            "properties": {
                              "display_name": {
                                "description": "Display name of the pricing table",
                                "type": "string",
                                "x-ms-summary": "Display Name"
                              },
                              "id": {
                                "description": "Section ID",
                                "type": "string",
                                "x-ms-summary": "ID"
                              },
                              "rows": {
                                "additionalProperties": {
                                  "items": {
                                    "type": "object"
                                  },
                                  "type": "array"
                                },
                                "description": "Array with values object with array of column_id, value",
                                "example": [
                                  {
                                    "values": [
                                      {
                                        "column_id": "abc123",
                                        "value": "My product"
                                      },
                                      {
                                        "column_id": "def456",
                                        "value": 240
                                      }
                                    ]
                                  }
                                ],
                                "x-ms-summary": "Rows"
                              },
                              "section_summary": {
                                "properties": {
                                  "discount": {
                                    "properties": {
                                      "enabled": {
                                        "description": "If section discount should be enabled",
                                        "enum": [
                                          true,
                                          false
                                        ],
                                        "example": true,
                                        "nullable": true,
                                        "type": "boolean",
                                        "x-ms-summary": "Enabled"
                                      },
                                      "flat_fee": {
                                        "description": "If section should use using flat fee discounts",
                                        "enum": [
                                          true,
                                          false
                                        ],
                                        "example": true,
                                        "nullable": true,
                                        "type": "boolean",
                                        "x-ms-summary": "Flat fee"
                                      },
                                      "value": {
                                        "description": "The value for section discount",
                                        "type": "string",
                                        "x-ms-summary": "Discount Value"
                                      }
                                    },
                                    "type": "object",
                                    "x-ms-summary": "Discount"
                                  },
                                  "price": {
                                    "properties": {
                                      "enabled": {
                                        "description": "If section price should be enabled",
                                        "enum": [
                                          true,
                                          false
                                        ],
                                        "example": true,
                                        "nullable": true,
                                        "type": "boolean",
                                        "x-ms-summary": "Enabled"
                                      },
                                      "flat_fee": {
                                        "description": "If section should use using flat fee pricing",
                                        "enum": [
                                          true,
                                          false
                                        ],
                                        "example": true,
                                        "nullable": true,
                                        "type": "boolean",
                                        "x-ms-summary": "Flat fee"
                                      },
                                      "value": {
                                        "description": "The value for section price",
                                        "type": "string",
                                        "x-ms-summary": "Price Value"
                                      }
                                    },
                                    "type": "object",
                                    "x-ms-summary": "Price"
                                  },
                                  "tax": {
                                    "properties": {
                                      "enabled": {
                                        "description": "If section tax should be enabled",
                                        "enum": [
                                          true,
                                          false
                                        ],
                                        "example": true,
                                        "nullable": true,
                                        "type": "boolean",
                                        "x-ms-summary": "Enabled"
                                      },
                                      "flat_fee": {
                                        "description": "If section should use using flat fee taxes",
                                        "enum": [
                                          true,
                                          false
                                        ],
                                        "example": true,
                                        "nullable": true,
                                        "type": "boolean",
                                        "x-ms-summary": "Flat fee"
                                      },
                                      "value": {
                                        "description": "The value for section tax",
                                        "type": "string",
                                        "x-ms-summary": "Tax Value"
                                      }
                                    },
                                    "type": "object",
                                    "x-ms-summary": "Tax"
                                  }
                                },
                                "type": "object",
                                "x-ms-summary": "Summary Values"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array",
                          "x-ms-summary": "Section",
                          "x-ms-visibility": "advanced"
                        },
                        "summary_values": {
                          "properties": {
                            "discount": {
                              "properties": {
                                "enabled": {
                                  "description": "If pricing table discount should be enabled",
                                  "enum": [
                                    true,
                                    false
                                  ],
                                  "example": true,
                                  "nullable": true,
                                  "type": "boolean",
                                  "x-ms-summary": "Enabled",
                                  "x-ms-visibility": "advanced"
                                },
                                "flat_fee": {
                                  "description": "If pricing table should use using flat fee discounts",
                                  "enum": [
                                    true,
                                    false
                                  ],
                                  "example": true,
                                  "nullable": true,
                                  "type": "boolean",
                                  "x-ms-summary": "Flat fee",
                                  "x-ms-visibility": "advanced"
                                },
                                "value": {
                                  "description": "The value for summary discount",
                                  "type": "string",
                                  "x-ms-summary": "Discount Value"
                                }
                              },
                              "type": "object",
                              "x-ms-summary": "Discount"
                            },
                            "price": {
                              "properties": {
                                "enabled": {
                                  "description": "If pricing table price should be enabled",
                                  "enum": [
                                    true,
                                    false
                                  ],
                                  "example": true,
                                  "nullable": true,
                                  "type": "boolean",
                                  "x-ms-summary": "Enabled",
                                  "x-ms-visibility": "advanced"
                                },
                                "flat_fee": {
                                  "description": "If pricing table should use using flat fee pricing",
                                  "enum": [
                                    true,
                                    false
                                  ],
                                  "example": true,
                                  "nullable": true,
                                  "type": "boolean",
                                  "x-ms-summary": "Flat fee",
                                  "x-ms-visibility": "advanced"
                                },
                                "value": {
                                  "description": "The value for summary price",
                                  "type": "string",
                                  "x-ms-summary": "Price Value"
                                }
                              },
                              "type": "object",
                              "x-ms-summary": "Price"
                            },
                            "tax": {
                              "properties": {
                                "enabled": {
                                  "description": "If pricing table tax should be enabled",
                                  "enum": [
                                    true,
                                    false
                                  ],
                                  "example": true,
                                  "nullable": true,
                                  "type": "boolean",
                                  "x-ms-summary": "Enabled",
                                  "x-ms-visibility": "advanced"
                                },
                                "flat_fee": {
                                  "description": "If pricing table should use using flat fee taxes",
                                  "enum": [
                                    true,
                                    false
                                  ],
                                  "example": true,
                                  "nullable": true,
                                  "type": "boolean",
                                  "x-ms-summary": "Flat fee",
                                  "x-ms-visibility": "advanced"
                                },
                                "value": {
                                  "description": "The value for summary tax",
                                  "type": "string",
                                  "x-ms-summary": "Value"
                                }
                              },
                              "type": "object",
                              "x-ms-summary": "Tax"
                            }
                          },
                          "type": "object",
                          "x-ms-summary": "Summary Values",
                          "x-ms-visibility": "advanced"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array",
                    "x-ms-summary": "Pricing",
                    "x-ms-visibility": "advanced"
                  },
                  "email_send_message": {
                    "description": "Use this to specify a message to the recipient(s) when sending out the document",
                    "type": "string",
                    "x-ms-summary": "Email message",
                    "x-ms-visibility": "advanced"
                  },
                  "expiration_date": {
                    "description": "Date and time when the document should expire",
                    "format": "date-time",
                    "type": "string",
                    "x-ms-summary": "Expiration date",
                    "x-ms-visibility": "advanced"
                  },
                  "external_id": {
                    "description": "External system ID for identification",
                    "type": "string",
                    "x-ms-summary": "External ID"
                  },
                  "file_content": {
                    "description": "Base64 encoded file content",
                    "type": "string",
                    "x-ms-summary": "File content"
                  },
                  "file_ids": {
                    "description": "Comma-separated, unique file-ids received when uploading files",
                    "type": "string",
                    "x-ms-summary": "File IDs"
                  },
                  "file_name": {
                    "description": "Filename of the document, with the extension. This will be helpful for converting different file-types.",
                    "type": "string",
                    "x-ms-summary": "File name"
                  },
                  "file_url": {
                    "description": "Url to document file. Documents must be public available for download",
                    "type": "string",
                    "x-ms-summary": "File URL"
                  },
                  "is_automatic_sending": {
                    "description": "If the document should be sent after creation",
                    "enum": [
                      true,
                      false
                    ],
                    "example": true,
                    "nullable": true,
                    "type": "boolean",
                    "x-ms-summary": "Send automatically",
                    "x-ms-visibility": "important"
                  },
                  "is_reminder_sending": {
                    "description": "Should automatic reminders be sent",
                    "enum": [
                      true,
                      false
                    ],
                    "example": true,
                    "nullable": true,
                    "type": "boolean",
                    "x-ms-summary": "Send reminders",
                    "x-ms-visibility": "advanced"
                  },
                  "is_scheduled_sending": {
                    "description": "Should the sending be scheduled for sending in the future",
                    "enum": [
                      true,
                      false
                    ],
                    "example": true,
                    "nullable": true,
                    "type": "boolean",
                    "x-ms-summary": "Schedule sending",
                    "x-ms-visibility": "advanced"
                  },
                  "is_signing": {
                    "description": "Should the document be sent for signing",
                    "enum": [
                      true,
                      false
                    ],
                    "example": true,
                    "nullable": true,
                    "type": "boolean",
                    "x-ms-summary": "Sign document",
                    "x-ms-visibility": "advanced"
                  },
                  "is_signing_biometric": {
                    "description": "Use handwritten signature",
                    "enum": [
                      true,
                      false
                    ],
                    "example": true,
                    "nullable": true,
                    "type": "boolean",
                    "x-ms-summary": "Handwritten signature",
                    "x-ms-visibility": "advanced"
                  },
                  "is_signing_forward": {
                    "description": "Should recipients be able to transfer signature rights",
                    "enum": [
                      true,
                      false
                    ],
                    "example": true,
                    "nullable": true,
                    "type": "boolean",
                    "x-ms-summary": "Allow signature transfer",
                    "x-ms-visibility": "advanced"
                  },
                  "is_signing_initials": {
                    "description": "Sign document using recipient initials",
                    "enum": [
                      true,
                      false
                    ],
                    "example": true,
                    "nullable": true,
                    "type": "boolean",
                    "x-ms-summary": "Sign with initials",
                    "x-ms-visibility": "advanced"
                  },
                  "is_sms_sending": {
                    "description": "Should the document be sent to recipient mobile by text",
                    "enum": [
                      true,
                      false
                    ],
                    "example": true,
                    "nullable": true,
                    "type": "boolean",
                    "x-ms-summary": "Send SMS"
                  },
                  "name": {
                    "description": "Enter a name of the document",
                    "type": "string",
                    "x-ms-summary": "Document name",
                    "x-ms-visibility": "important"
                  },
                  "recipients": {
                    "items": {
                      "properties": {
                        "company_name": {
                          "description": "Company name of the recipient",
                          "type": "string",
                          "x-ms-summary": "Company name",
                          "x-ms-visibility": "important"
                        },
                        "company_number": {
                          "description": "Company number of the recipient",
                          "type": "string",
                          "x-ms-summary": "Company number",
                          "x-ms-visibility": "important"
                        },
                        "email": {
                          "description": "Email address of the recipient",
                          "type": "string",
                          "x-ms-summary": "Email",
                          "x-ms-visibility": "important"
                        },
                        "first_name": {
                          "description": "Recipient first name",
                          "type": "string",
                          "x-ms-summary": "First name",
                          "x-ms-visibility": "important"
                        },
                        "fullname": {
                          "description": "Use to specify full name instead of first/last name",
                          "type": "string",
                          "x-ms-summary": "Full name",
                          "x-ms-visibility": "important"
                        },
                        "last_name": {
                          "description": "Last name of recipient",
                          "type": "string",
                          "x-ms-summary": "Last name",
                          "x-ms-visibility": "important"
                        },
                        "mobile": {
                          "description": "Mobile phone in international format",
                          "type": "string",
                          "x-ms-summary": "Mobile"
                        },
                        "note": {
                          "description": "Additional note for a recipient",
                          "type": "string",
                          "x-ms-summary": "Note",
                          "x-ms-visibility": "advanced"
                        },
                        "order_num": {
                          "description": "If signing order is enabled",
                          "example": 1,
                          "format": "int32",
                          "nullable": true,
                          "type": "integer",
                          "x-ms-summary": "Signing order",
                          "x-ms-visibility": "advanced"
                        },
                        "role": {
                          "description": "The kind of recipient in the document. Available values:\n- signer: signer of the document\n- internalApprover: used for internal approval processes and will not appear in the signing certificate\n- externalApprover: used for external approval processes and will appear in the signing certificate, alongside other signers\n- cc: view only\n",
                          "enum": [
                            "signer",
                            "internalApprover",
                            "externalApprover",
                            "cc"
                          ],
                          "type": "string",
                          "x-ms-summary": "Recipient type",
                          "x-ms-visibility": "important"
                        },
                        "role_name": {
                          "description": "The name of the role in a template",
                          "type": "string",
                          "x-ms-summary": "Template role",
                          "x-ms-visibility": "important"
                        },
                        "verify_eid": {
                          "description": "Verify using EID",
                          "enum": [
                            true,
                            false
                          ],
                          "example": true,
                          "nullable": true,
                          "type": "boolean",
                          "x-ms-summary": "Verify EID",
                          "x-ms-visibility": "advanced"
                        },
                        "verify_eid_type": {
                          "description": "EID type to be used for personal verification",
                          "type": "string",
                          "x-ms-summary": "EID type",
                          "x-ms-visibility": "advanced"
                        },
                        "verify_qna": {
                          "description": "Should a question be asked",
                          "enum": [
                            true,
                            false
                          ],
                          "example": true,
                          "nullable": true,
                          "type": "boolean",
                          "x-ms-summary": "Enable question",
                          "x-ms-visibility": "advanced"
                        },
                        "verify_qna_answer": {
                          "description": "The answer to question",
                          "example": "123456789",
                          "type": "string",
                          "x-ms-summary": "Verification answer",
                          "x-ms-visibility": "advanced"
                        },
                        "verify_qna_open": {
                          "description": "Should question be asked before opening document",
                          "enum": [
                            true,
                            false
                          ],
                          "example": true,
                          "nullable": true,
                          "type": "boolean",
                          "x-ms-summary": "Question on open",
                          "x-ms-visibility": "advanced"
                        },
                        "verify_qna_question": {
                          "description": "Question to ask for verification",
                          "example": "Enter your SSN",
                          "type": "string",
                          "x-ms-summary": "Verification question",
                          "x-ms-visibility": "advanced"
                        },
                        "verify_qna_sign": {
                          "description": "Should a question be asked before signing",
                          "enum": [
                            true,
                            false
                          ],
                          "example": true,
                          "nullable": true,
                          "type": "boolean",
                          "x-ms-summary": "Sign question",
                          "x-ms-visibility": "advanced"
                        },
                        "verify_sms": {
                          "description": "Verify recipient by SMS",
                          "enum": [
                            true,
                            false
                          ],
                          "example": true,
                          "nullable": true,
                          "type": "boolean",
                          "x-ms-summary": "Verify SMS",
                          "x-ms-visibility": "advanced"
                        },
                        "verify_sms_open": {
                          "description": "Verify SMS on open",
                          "enum": [
                            true,
                            false
                          ],
                          "example": true,
                          "type": "boolean",
                          "x-ms-summary": "Verify SMS on open",
                          "x-ms-visibility": "advanced"
                        },
                        "verify_sms_sign": {
                          "description": "Should a SMS verify the recipient before signing",
                          "enum": [
                            true,
                            false
                          ],
                          "example": true,
                          "nullable": true,
                          "type": "boolean",
                          "x-ms-summary": "Verify by SMS",
                          "x-ms-visibility": "advanced"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array",
                    "x-ms-summary": "Recipient"
                  },
                  "scheduled_sending_time": {
                    "description": "Date and time when the document should be sent out",
                    "format": "date-time",
                    "type": "string",
                    "x-ms-summary": "Schedule send date",
                    "x-ms-visibility": "advanced"
                  },
                  "sender_email": {
                    "description": "Send from other email than authenticated user",
                    "type": "string",
                    "x-ms-summary": "Sender email override",
                    "x-ms-visibility": "advanced"
                  },
                  "sender_id": {
                    "description": "Send from other user than authenticated",
                    "type": "string",
                    "x-ms-dynamic-values": {
                      "operationId": "ListUsers",
                      "value-collection": "users",
                      "value-path": "user_id",
                      "value-title": "email"
                    },
                    "x-ms-summary": "Sender user override",
                    "x-ms-visibility": "advanced"
                  },
                  "template_id": {
                    "description": "Select a template to use for the sending",
                    "type": "string",
                    "x-ms-dynamic-values": {
                      "operationId": "ListTemplates",
                      "value-collection": "templates",
                      "value-path": "id",
                      "value-title": "name"
                    },
                    "x-ms-summary": "Template ID",
                    "x-ms-visibility": "important"
                  },
                  "type": {
                    "default": "sales",
                    "description": "Set the type/category of the document",
                    "enum": [
                      "sales",
                      "introduction",
                      "hr",
                      "other"
                    ],
                    "example": "sales",
                    "type": "string",
                    "x-ms-summary": "Document type",
                    "x-ms-visibility": "important"
                  },
                  "value": {
                    "description": "Value of deal or document",
                    "format": "float",
                    "nullable": true,
                    "type": "number",
                    "x-ms-summary": "Document value",
                    "x-ms-visibility": "important"
                  },
                  "video_id": {
                    "description": "Select a video to use for the sending",
                    "type": "string",
                    "x-ms-dynamic-values": {
                      "operationId": "ListVideos",
                      "value-collection": "videos",
                      "value-path": "video_id",
                      "value-title": "video_title"
                    },
                    "x-ms-summary": "Video ID",
                    "x-ms-visibility": "advanced"
                  }
                },
                "required": [
                  "name"
                ],
                "type": "object"
              }
            }
          },
          "description": "A JSON object containing document information",
          "required": true
        },
        "summary": "Create and send document or template"
      }
    },
    "/documents/external/{externalId}": {
      "get": {
        "parameters": [
          {
            "description": "External ID",
            "in": "path",
            "name": "externalId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Documents"
        ],
        "description": "Get a document by the external id specified when document was created.",
        "operationId": "GetDocumentByExternalId",
        "summary": "Get document by external ID"
      }
    },
    "/documents/{documentId}": {
      "delete": {
        "parameters": [
          {
            "description": "Document ID",
            "in": "path",
            "name": "documentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Documents"
        ],
        "description": "Delete a single document.",
        "operationId": "DeleteDocument",
        "summary": "Delete document"
      },
      "get": {
        "parameters": [
          {
            "description": "Document ID",
            "in": "path",
            "name": "documentId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-dynamic-values": {
              "operationId": "ListDocuments",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Document ID",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Include document attachments",
            "in": "query",
            "name": "with_attachments",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Include document pages",
            "in": "query",
            "name": "with_pages",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Include document statistics",
            "in": "query",
            "name": "with_stats",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Documents"
        ],
        "description": "Get document details by specifying a document id.",
        "operationId": "GetDocumentDetails",
        "summary": "Get document details"
      },
      "put": {
        "parameters": [
          {
            "description": "Document ID",
            "in": "path",
            "name": "documentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Documents"
        ],
        "description": "Update different document properties during the lifecycle of the document.",
        "operationId": "UpdateDocument",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "tags": {
                    "description": "Document tags (comma separated without space)",
                    "type": "string"
                  },
                  "contract_end_date": {
                    "description": "End date of contract for contract management",
                    "type": "string"
                  },
                  "contract_start_date": {
                    "description": "Start date of contract for contract management",
                    "type": "string"
                  },
                  "external_client_id": {
                    "description": "Creation source of the document",
                    "type": "string"
                  },
                  "external_id": {
                    "description": "Change external ID of the document",
                    "type": "string"
                  },
                  "value": {
                    "description": "Update the value parameter of the Document",
                    "type": "number"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "Update document"
      }
    },
    "/documents/{documentId}/attachments": {
      "get": {
        "parameters": [
          {
            "description": "Document ID",
            "in": "path",
            "name": "documentId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-dynamic-values": {
              "operationId": "ListDocuments",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Document ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attachments"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/AccessDenied"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Documents"
        ],
        "description": "Get document attachments by specifying a document id.",
        "operationId": "GetDocumentAttachments",
        "summary": "Get document attachments"
      }
    },
    "/documents/{documentId}/attachments/{documentAttachmentId}/upload": {
      "post": {
        "parameters": [
          {
            "description": "Document ID",
            "in": "path",
            "name": "documentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Document Attachment ID",
            "in": "path",
            "name": "documentAttachmentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Documents"
        ],
        "description": "Uploads a file for a specific attachment on a document.",
        "operationId": "UploadFileToDocumentAttachment",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "file": {
                    "format": "binary",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Upload file to document attachment"
      }
    },
    "/documents/{documentId}/comments": {
      "get": {
        "parameters": [
          {
            "description": "Document ID",
            "in": "path",
            "name": "documentId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "Document ID"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Comment"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Documents"
        ],
        "description": "Get a list of chat comments for a document.",
        "operationId": "GetComments",
        "summary": "Get comments"
      },
      "post": {
        "parameters": [
          {
            "description": "Document ID",
            "in": "path",
            "name": "documentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Documents"
        ],
        "description": "Creates a new comment in a document.",
        "operationId": "CreateComment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "position": {
                    "description": "A json-string of the page and x-y-position coordinates where the comment should be placed. Example: { page: 'a8bafd97', top: 230, left: 19 }",
                    "type": "string"
                  },
                  "text": {
                    "description": "The comment text to be added to the document",
                    "type": "string"
                  }
                },
                "required": [
                  "text"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Create comment"
      }
    },
    "/documents/{documentId}/custom-data": {
      "get": {
        "parameters": [
          {
            "description": "Document ID",
            "in": "path",
            "name": "documentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of records to list",
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 20,
              "type": "integer"
            }
          },
          {
            "description": "Start list from record x",
            "in": "query",
            "name": "offset",
            "schema": {
              "default": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "custom_data": {
                      "items": {
                        "$ref": "#/components/schemas/CustomDataProperty"
                      },
                      "type": "array"
                    },
                    "total_count": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Custom Data"
        ],
        "description": "Get all custom data properties for a document.",
        "operationId": "GetDocumentCustomData",
        "summary": "Get document custom data properties"
      },
      "post": {
        "parameters": [
          {
            "description": "Document ID",
            "in": "path",
            "name": "documentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomDataProperty"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "tags": [
          "Custom Data"
        ],
        "description": "Add a custom data property to a document.",
        "operationId": "AddDocumentCustomDataProperty",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "property": {
                    "properties": {
                      "key": {
                        "description": "Key of the custom data property",
                        "type": "string"
                      },
                      "label": {
                        "description": "Human-readable label",
                        "type": "string"
                      },
                      "value": {
                        "description": "Value for the custom data property",
                        "type": "string"
                      },
                      "value_type": {
                        "description": "Type of value: string, number, boolean",
                        "type": "string"
                      }
                    },
                    "required": [
                      "key",
                      "value",
                      "label",
                      "value_type"
                    ],
                    "type": "object"
                  }
                },
                "required": [
                  "property"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Add document custom data property"
      }
    },
    "/documents/{documentId}/custom-data/{customDataId}": {
      "delete": {
        "parameters": [
          {
            "description": "Document ID",
            "in": "path",
            "name": "documentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Custom Data ID",
            "in": "path",
            "name": "customDataId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Custom Data"
        ],
        "description": "Delete a custom data property from a document.",
        "operationId": "DeleteDocumentCustomDataProperty",
        "summary": "Delete document custom data property"
      },
      "get": {
        "parameters": [
          {
            "description": "Document ID",
            "in": "path",
            "name": "documentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Custom Data ID",
            "in": "path",
            "name": "customDataId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomDataProperty"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Custom Data"
        ],
        "description": "Get a specific custom data property for a document.",
        "operationId": "GetDocumentCustomDataProperty",
        "summary": "Get document custom data property"
      },
      "put": {
        "parameters": [
          {
            "description": "Document ID",
            "in": "path",
            "name": "documentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Custom Data ID",
            "in": "path",
            "name": "customDataId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Custom Data"
        ],
        "description": "Update a custom data property for a document.",
        "operationId": "UpdateDocumentCustomDataProperty",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "property": {
                    "properties": {
                      "label": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string"
                      },
                      "value_type": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Update document custom data property"
      }
    },
    "/documents/{documentId}/download": {
      "get": {
        "parameters": [
          {
            "description": "Document ID",
            "in": "path",
            "name": "documentId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-dynamic-values": {
              "operationId": "ListDocuments",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Document ID",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Return the binary file directly",
            "in": "query",
            "name": "direct",
            "schema": {
              "default": "true",
              "enum": [
                "true",
                "false"
              ],
              "example": "true",
              "nullable": true,
              "type": "string"
            },
            "x-ms-summary": "Return the binary file directly"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "document_url": {
                      "type": "string"
                    },
                    "file": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "application/pdf": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              }
            },
            "description": "OK",
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "description": "Used only with `application/pdf` responses",
                  "example": "attachment; filename=\"download.pdf\"",
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Documents"
        ],
        "description": "Document file can always be downloaded but most likely you want to download it when it has status Signed. \n\nYou can select to receive a download-url or get the binary file.\n\nThe download URL is accessable 10 minutes after a request has been made.",
        "operationId": "DownloadDocument",
        "summary": "Download document",
        "x-ms-visibility": "important"
      }
    },
    "/documents/{documentId}/events": {
      "get": {
        "parameters": [
          {
            "description": "Document ID",
            "in": "path",
            "name": "documentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Event"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Documents"
        ],
        "description": "Get a list of document events for a document.",
        "operationId": "GetEvents",
        "summary": "Get events"
      }
    },
    "/documents/{documentId}/expiration": {
      "post": {
        "parameters": [
          {
            "description": "Document ID",
            "in": "path",
            "name": "documentId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-dynamic-values": {
              "operationId": "ListDocuments",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Document ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "description": "Status of update",
                      "format": "int32",
                      "nullable": true,
                      "type": "integer",
                      "x-ms-summary": "Status"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Documents"
        ],
        "description": "Use this method to update the expiration date and time for a document.",
        "operationId": "UpdateExpiration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "expiration_date": {
                    "description": "Date and time when the document should expire (UTC)",
                    "format": "date-time",
                    "type": "string",
                    "x-ms-summary": "Expiration date"
                  },
                  "send_notification": {
                    "default": false,
                    "description": "Should a notification about the update be sent to recipients",
                    "enum": [
                      true,
                      false
                    ],
                    "example": false,
                    "nullable": true,
                    "type": "boolean",
                    "x-ms-summary": "Send notification"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "An optional JSON object containing seal information"
        },
        "summary": "Update document expiration"
      }
    },
    "/documents/{documentId}/fields": {
      "get": {
        "parameters": [
          {
            "description": "Document ID",
            "in": "path",
            "name": "documentId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-dynamic-values": {
              "operationId": "ListDocuments",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Document ID",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Resolve editor fields to their values",
            "in": "query",
            "name": "resolveEditorFields",
            "schema": {
              "type": "boolean"
            },
            "x-ms-summary": "Resolve editor fields"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fields"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Documents"
        ],
        "description": "Get a list of fields for a document or template. Can be used both before and after a document has been signed.",
        "operationId": "ListDocumentFields",
        "summary": "Get document fields"
      },
      "post": {
        "parameters": [
          {
            "description": "Document ID",
            "in": "path",
            "name": "documentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldResponse"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "tags": [
          "Documents"
        ],
        "description": "Creates a new field in a document.",
        "operationId": "CreateField",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "field_height": {
                    "description": "Height of field in points",
                    "type": "number"
                  },
                  "field_label": {
                    "description": "Label to place next to the field",
                    "type": "string"
                  },
                  "field_left": {
                    "description": "Left position of field relative to document (in points)",
                    "type": "number"
                  },
                  "field_top": {
                    "description": "Top position of field relative to document (in points)",
                    "type": "number"
                  },
                  "field_type": {
                    "description": "The type of field: text, merge, check, signature, initials, formatted",
                    "type": "string"
                  },
                  "field_value": {
                    "description": "Pre-defined/Filled value",
                    "type": "string"
                  },
                  "field_width": {
                    "description": "Width of field in points",
                    "type": "number"
                  },
                  "is_collectable": {
                    "description": "If the field is to be filled out by sender/recipient",
                    "type": "boolean"
                  },
                  "is_editable": {
                    "description": "If the field can be edited by the sender",
                    "type": "boolean"
                  },
                  "is_required": {
                    "description": "If the field is required to be filled out",
                    "type": "boolean"
                  },
                  "page_id": {
                    "description": "Unique page id",
                    "type": "string"
                  },
                  "page_num": {
                    "description": "Actual page number in document (1-x)",
                    "type": "integer"
                  },
                  "recipient_id": {
                    "description": "Unique ID of the recipient to fill out this field",
                    "type": "string"
                  }
                },
                "required": [
                  "field_type",
                  "field_top",
                  "field_left",
                  "field_width",
                  "field_height"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Create a field"
      },
      "put": {
        "parameters": [
          {
            "description": "Document ID",
            "in": "path",
            "name": "documentId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "Document ID"
          }
        ],
        "responses": {
          "204": {
[...]
